@page "/profil"
@layout SiteLayout
@inject ISyncfusionStringLocalizer  Localizer


<div id="Title">
    @Localizer.GetText("Profil")
</div>

<UserProfile></UserProfile>

<Document Title="@Localizer.GetText("Profil")" />

@code{

}

