@inherits LayoutComponentBase
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NavigationManager NavigationManager
@inject IOptions<RequestLocalizationOptions> LocOptions
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization

@if (isConnected)
{
    @Body
}
else
{
    <p>Loading...</p>
}


@code {
    private bool isConnected = false;
    public string guid { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    private async Task LoadStateAsync()
    {
        guid = await ProtectedSessionStorage.GetAsync<string>("GUID");
        if (guid == null)
        {
            NavigationManager.NavigateTo("/");
        }

    }

}