
@inherits HUDEwiBlazor.Components.AuthenticateBase
    
      
        @if (LinkExist == true)
        {
            <EditForm class="login100-form validate-form" Model=@passwordChangeModel OnValidSubmit=@ChangePasswordValidFormSubmitted OnInvalidSubmit=@ChangePasswordInvalidFormSubmitted>
                <DataAnnotationsValidator />
                <span class="login100-form-title p-b-43">
                    Zmień hasło
                </span>
                <span class="flex-sb-m w-full">Hasło:</span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" @bind-value=passwordChangeModel.password1 name="password">
                    <ValidationMessage For="() => passwordChangeModel.password1" />
                    <span class="focus-input100"></span>
                </div>
                <br />
                <span class="flex-sb-m w-full">Hasło:</span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" @bind-value=passwordChangeModel.password2 name="password">
                    <ValidationMessage For="() => passwordChangeModel.password2" />
                    <span class="focus-input100"></span>
                </div>
                <br />

                @if (authorization_result != null)
                {
                    <div class="validation-message">
                        @authorization_result
                    </div>
                }
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Zmień Hasło
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button @onclick="GoToHomePage" class="login100-form-btn">
                        Powrót do strony logowania
                    </button>
                </div>
            </EditForm>
        }
        else
        {
            <div class="login100-form">
                <span class="login100-form-title p-b-43">
                    Nieprawidłowy/Wygasły Link do zmiany hasła
                </span>

                <div class="container-login100-form-btn">
                    <button @onclick="GoToHomePage" class="login100-form-btn">
                        Powrót do logowania.
                    </button>
                </div>
            </div>
        }
    

