
@inherits HUDEwiBlazor.Components.AuthenticateBase

<EditForm class="login100-form validate-form" Model=@emailModel OnValidSubmit=@PasswordValidFormSubmitted OnInvalidSubmit=@PasswordInvalidFormSubmitted>
    <DataAnnotationsValidator />
    <span class="login100-form-title p-b-43">
        Resetowanie Hasła - Wprowadź Email
    </span>
    <span class="flex-sb-m w-full">Email:</span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" @bind-value=emailModel.email name="email">
        <ValidationMessage For="() => emailModel.email" />
        <span class="focus-input100"></span>
    </div>
    <br />
    
    @if (authorization_result != null)
    {
        <div class="validation-message">
            @authorization_result
        </div>
    }
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>
</EditForm>