
@inherits HUDEwiBlazor.Components.AuthenticateBase
@inject ISyncfusionStringLocalizer  Localizer

<div class="login100-form">
    <LocalizatinSwitcher />
    <span class="login100-form-title p-b-43">
        @Localizer.GetText("SendedLink")
    </span>

    <div class="container-login100-form-btn">
        <button @onclick="GoToHomePage" class="login100-form-btn">
            @Localizer.GetText("BackToLogin")
        </button>
    </div>

</div>
<Document Title="@Localizer.GetText("Confirm")" />
