
@inherits HUDEwiBlazor.Components.AuthenticateBase
@inject ISyncfusionStringLocalizer  Localizer

<EditForm class="login100-form validate-form" Model=@emailModel OnValidSubmit=@PasswordValidFormSubmitted OnInvalidSubmit=@PasswordInvalidFormSubmitted>
    <DataAnnotationsValidator />
    <LocalizatinSwitcher />
    <span class="login100-form-title p-b-43">
        @Localizer.GetText("InputEmailPasswordReset")
    </span>
    <span class="flex-sb-m w-full">Email:</span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" @bind-value=emailModel.email name="email">
        <div class="validation-message">
            @email_validation_message
        </div>
        <span class="focus-input100"></span>
    </div>
    <br />

    @if (authorization_result != null)
    {
        <div class="validation-message">
            @authorization_result
        </div>
    }
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            @Localizer.GetText("Confirm")
        </button>
    </div>
</EditForm>

<Document Title="@Localizer.GetText("InputEmailPasswordReset")" />
