
@inherits HUDEwiBlazor.Components.AuthenticateBase
    <div class="login100-form">
        <span class="login100-form-title p-b-43">
            Na twoją skrzynkę pocztową został wysłany link do zmiany hasła.
        </span>

        <div class="container-login100-form-btn">
            <button @onclick="GoToHomePage" class="login100-form-btn">
                Powrót do strony logowania.
            </button>
        </div>

    </div>
    