
@inherits HUDEwiBlazor.Components.AuthenticateBase

<EditForm class="login100-form validate-form" Model=@loginModel OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
    <DataAnnotationsValidator />
    <span class="login100-form-title p-b-43">
        Logowanie do HUDEwi
    </span>
    <span class="flex-sb-m w-full">Email:</span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" @bind-value=loginModel.email name="email">
        <ValidationMessage For="() => loginModel.email" />
        <span class="focus-input100"></span>
    </div>
    <br />
    <span class="flex-sb-m w-full">Hasło:</span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="password" @bind-value=loginModel.password name="password">
        <ValidationMessage For="() => loginModel.password" />
        <span class="focus-input100"></span>
    </div>
    <br />
    <div class="flex-sb-m w-full p-t-3 p-b-32">
        <div>
            <a href="/LoginPasswordReset"  class="txt1">
                Resetowanie Hasła
            </a>
        </div>
        <div>
            <a href="https://ewidencja.hud.com.pl/mobile_resources/mobile_apk/com.hudinternationalpoland.ewimobil.apk" class="txt1">
                Pobierz aplikację mobilną
            </a>
        </div>
    </div>
    @if (authorization_result != null)
    {
        <div class="validation-message">
            @authorization_result
        </div>
    }
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>
</EditForm>